.header__logo {
    height: 52px;
    width: 176px;
    transition: 0.3s;
}

.header__logo:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__logo {
        width: 142px;
        height: 42px;
    }
}